stages:
  - compile
  - test

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

cache:
  paths:
    - .m2/repository

default:
  image: maven:3.9.9-eclipse-temurin-21

# Compile jobs for each microservice
compile_account_service:
  stage: compile
  script:
    - echo "Compiling Account Service..."
    - mvn -B clean compile --file backend/services/account-service/pom.xml
  tags:
    - docker
  artifacts:
    paths:
      - backend/services/account-service/target

compile_appointment_service:
  stage: compile
  script:
    - echo "Compiling Appointment Service..."
    - mvn -B clean compile --file backend/services/appointment-service/pom.xml
  tags:
    - docker
  artifacts:
    paths:
      - backend/services/appointment-service/target

compile_gateway_service:
  stage: compile
  script:
    - echo "Compiling Gateway Service..."
    - mvn -B clean compile --file backend/services/gateway-service/pom.xml
  tags:
    - docker
  artifacts:
    paths:
      - backend/services/gateway-service/target

compile_notification_service:
  stage: compile
  script:
    - echo "Compiling Notification Service..."
    - mvn -B clean compile --file backend/services/notification-service/pom.xml
  tags:
    - docker
  artifacts:
    paths:
      - backend/services/notification-service/target

# Test jobs for each microservice
test_account_service:
  stage: test
  script:
    - echo "Running tests for Account Service..."
    - mvn -B test --file backend/services/account-service/pom.xml
  tags:
    - docker
  dependencies:
    - compile_account_service

test_appointment_service:
  stage: test
  script:
    - echo "Running tests for Appointment Service..."
    - mvn -B test --file backend/services/appointment-service/pom.xml
  tags:
    - docker
  dependencies:
    - compile_appointment_service

test_gateway_service:
  stage: test
  script:
    - echo "Running tests for Gateway Service..."
    - mvn -B test --file backend/services/gateway-service/pom.xml
  tags:
    - docker
  dependencies:
    - compile_gateway_service

test_notification_service:
  stage: test
  script:
    - echo "Running tests for Notification Service..."
    - mvn -B test --file backend/services/notification-service/pom.xml
  tags:
    - docker
  dependencies:
    - compile_notification_service

# Job for frontend
build_vue_frontend:
  stage: compile
  image: node:18
  script:
    - echo "Installing dependencies for Vue.js frontend..."
    - cd smile-select-frontend
    - npm install
    - echo "Building Vue.js frontend..."
    - npm run build
  tags:
    - docker