stages:
  - compile
  - test
  
variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  POSTGRES_PORT: 5432

cache:
  paths:
    - .m2/repository

default:
  image: maven:3.9.9-eclipse-temurin-21

# Compile jobs for each microservice

compile_appointment_service:
  stage: compile
  script:
    - echo "Compiling Appointment Service..."
    - mvn -B clean compile --file backend/services/appointment-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/appointment-service/target

compile_auth_service:
  stage: compile
  script:
    - echo "Compiling Authentication Service..."
    - mvn -B clean compile --file backend/services/auth-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/auth-service/target

compile_dentist_service:
  stage: compile
  script:
    - echo "Compiling Dentist Service..."
    - mvn -B clean compile --file backend/services/dentist-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/dentist-service/target

compile_gateway_service:
  stage: compile
  script:
    - echo "Compiling Gateway Service..."
    - mvn -B clean compile --file backend/services/gateway-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/gateway-service/target

compile_logging_service:
  stage: compile
  script:
    - echo "Compiling Logging Service..."
    - mvn -B clean compile --file backend/services/logging-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/logging-service/target

compile_notification_service:
  stage: compile
  script:
    - echo "Compiling Notification Service..."
    - mvn -B clean compile --file backend/services/notification-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/notification-service/target

compile_patient_service:
  stage: compile
  script:
    - echo "Compiling Patient Service..."
    - mvn -B clean compile --file backend/services/patient-service/pom.xml
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - backend/services/patient-service/target

# Test jobs for each microservice (commented out for now)




# test_appointment_service:
#   stage: test
#   script:
#     - echo "Running tests for Appointment Service..."
#     - mvn -B test --file backend/services/appointment-service/pom.xml
#   tags:
#     - docker
#   dependencies:
#     - compile_appointment_service

# test_auth_service:
#   stage: test
#   script:
#     - echo "Running tests for Authentication Service..."
#     - mvn -B test --file backend/services/auth-service/pom.xml
#   tags:
#     - docker
#   dependencies:
#     - compile_auth_service

test_dentist_service:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  services:
    - name: postgres:latest
      alias: postgres
  script:
    - echo "Waiting for PostgreSQL to be ready..."
    - apt-get update && apt-get install -y postgresql-client
    - until pg_isready -h postgres -p 5432 -U postgres; do sleep 2; done
    - echo "PostgreSQL is ready."
    - echo "Creating env.properties file with JWT_TOKEN and JWT_EXPIRATION..."
    - mkdir -p backend/services/dentist-service/src/main/resources 
    - echo "JWT_TOKEN=$JWT_TOKEN" > backend/services/dentist-service/src/main/resources/env.properties
    - echo "JWT_EXPIRATION=$JWT_EXPIRATION" >> backend/services/dentist-service/src/main/resources/env.properties
    - echo "Running tests for Dentist Service..."
    - cd backend/services/dentist-service  
    - mvn help:active-profiles -Dspring.profiles.active=ci  
    - mvn -B test --file pom.xml -Dspring.profiles.active=ci  
  variables:
    POSTGRES_PASSWORD: postgres
    POSTGRES_USER: postgres
    POSTGRES_DB: dentistDB
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_HOST_AUTH_METHOD: trust
  tags:
    - docker
  dependencies:
    - compile_dentist_service

# test_gateway_service:
#   stage: test
#   script:
#     - echo "Running tests for Gateway Service..."
#     - mvn -B test --file backend/services/gateway-service/pom.xml
#   tags:
#     - docker
#   dependencies:
#     - compile_gateway_service

# test_notification_service:
#   stage: test
#   script:
#     - echo "Running tests for Notification Service..."
#     - mvn -B test --file backend/services/notification-service/pom.xml
#   tags:
#     - docker
#   dependencies:
#     - compile_notification_service

# test_patient_service:
#   stage: test
#   script:
#     - echo "Running tests for Patient Service..."
#     - mvn -B test --file backend/services/patient-service/pom.xml
#   tags:
#     - docker
#   dependencies:
#     - compile_patient_service

# Job for frontend
build_vue_frontend:
  stage: compile
  image: node:18
  script:
    - echo "Installing dependencies for Vue.js frontend..."
    - cd smile-select-frontend
    - npm install
    - echo "Building Vue.js frontend..."
    - npm run build
  tags:
    - docker
  artifacts:
    expire_in: 1 week
    paths:
      - smile-select-frontend/dist
