:root {
    --primary-color: #206050;
    --primary-hover-color: #003020;
    --secondary-color: rgba(240, 240, 240, 0.6);
    --secondary-hover-color: rgba(100, 100, 100, 0.8);;
}

html {
    font-size: 16px; /* Base font size for normal screens */
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Smaller font size for tablets */
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px; /* Smaller font size for phones */
    }
}

/*Buttons*/
.button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-primary {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.button-primary:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.02); /* Scales the card slightly */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Adds a stronger shadow */

}
.button-secondary {
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #333;
}

.button-secondary:hover {
    background-color: var(--secondary-hover-color);
    color: #333;
}
/*container*/
.form-container {
    max-width: 500px;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    color: #003020;
}
/*Forms*/
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select {
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

}
/*Utils*/
.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    border:none;
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    color: White;
    cursor: pointer;
    background-color: var(--primary-color);;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.back-arrow:hover {
    background-color: #003020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.form-container, /* Responsive Rules */
.glass-card {
    max-width: 100%;
    box-sizing: border-box;
}
.glass-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease
}
.glass-card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    border: 4px solid var(--primary-color);
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);*/
}
.dashboard-header {
    background-color: #206050;
    color: white;
    padding: 10px 10px;
}
/*backgrounds*/
.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../public/images/wavyBackground.png') no-repeat center
    center;
    background-size: cover;
    z-index: -1;
}

/*alignment*/
.align-right {
    margin-left: auto;
}
.header-content {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Stack header elements */
        align-items: center;
    }

    .dashboard-header {
        text-align: center;
        padding: 15px;
    }

    .button-secondary {
        width: auto; /* Adjust button width */
        margin-top: 10px;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .top-row {
        flex-direction: column; /* Stack elements vertically */
    }

    .glass-card {
        padding: 15px;
        margin: 10px 0; /* Reduce margin on smaller screens */
    }

    .dashboard-header {
        font-size: 1.2rem;
    }
}